.dashboard-container {
  display: flex;
}
.main-description {
  padding: 0.7em;
  background-color: #fefefe;
}

.deck-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 81%;
  grid-gap: 20px;
}